    <form action="/items/create" method="POST">
        <h2>Create an Item</h2>
        <table border=1 cols=2>
            <tr>
                <th>Field Name</th>
                <th>Field Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="text" name="quantity"></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input name="city"></input></td>
            </tr>
        </table>
        <input type="submit" value="Create">
    </form>
