<div style="display: flex; flex-direction: column; justify-content: center;">
    <h2 style="text-align: center;">Delete an Item by Id</h2>
    <table style="display: flex;  justify-content: center;">
        <tr><th>Index in List</th></tr>
        <tr><td><input type="number" name="index"/></td></tr>
    </table>
    <input type="submit" value="Delete" style="margin: 0 auto;">
</div>
