<!DOCTYPE html>
<html>
    <script>
        const removeItem = async () =>{
            const id = document.querySelector('#id').value;
            const comment = document.querySelector('#comment').value;
            const response = await fetch(`/items/remove-item/${id}`, {
                method: "POST",
                body: JSON.stringify({comment: comment})
            })
            console.log(response);
        }
    </script>
    
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <h2 style="text-align: center;">Remove Item from Inventory</h2>
        <table style="display: flex;  justify-content: center;">
            <tr><th>Item ID</th></tr>
            <tr><td><input type="number" name="id" id="id"/></td></tr>
            <tr><th>Comment</th></tr>
            <tr><td><textarea name="comment" id="comment"></textarea></td></tr>
        </table>
        <input type="submit" value="Delete" style="margin: 0 auto;" onclick="removeItem()">
    </div>
</html>
