<form action="/items/create" method="POST">
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <h2 style="text-align: center;">Delete an Item by ID</h2>
        <table style="display: flex;  justify-content: center;">
            <tr><th>Item ID</th></tr>
            <tr><td><input type="number" name="id"/></td></tr>
            <tr><th>Comment</th></tr>
            <tr><td><textarea name="comment"></textarea></td></tr>
        </table>
        <input type="submit" value="Delete" style="margin: 0 auto;">
    </div>
</form>
