<table border=1 cols=2>
    <tr>
        <th>Field Name</th>
        <th>Field Value</th>
    </tr>
    <tr>
        <td>Item ID</td>
        <td>
            <p><%= item.item_id %></p>
        </td>
    </tr>
    <tr>
        <td>Item Name</td>
        <td><p><%= item.name %></p></td>
    </tr>
    <tr>
        <td>Item Quantity</td>
        <td><%= item.quantity %></td>
    </tr>
    <tr>
        <td>City</td>
        <td><%= item.city %></td>
    </tr>
</table>