<!DOCTYPE html>
<html>
    <header>
        <a href="/">Main Page</a>
    </header>

    <div border=1 style="display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px; padding: 1%; border-radius: 5px;">
        <h3>List of <%= type %> items</h3>
        <ol>
            <% for (let i = 0; i < items.length; i++) { %>
                <li><%- include('./Item', { item: items[i] }) %></li>
            <% } %>
        </ol>
    </div>
</html>

