<div border=1 style="display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px; padding: 1%; border-radius: 5px; background-color: gray;">
    <h3>List of Items</h3>
    <ol>
        <%/* for (let i = 0; i < items.length; i++) { %>
            <li><%= items[i].name%></li>
        <% } */%>
    </ol>
</div>
