<script>
    
</script>

<form action="/deletions/recover-item" method="POST">
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <h2 style="text-align: center;">Restore Removed Item</h2>
        <table style="display: flex;  justify-content: center;">
            <tr><th>Item ID</th></tr>
            <tr><td><input type="number" name="id"/></td></tr>
        </table>
        <input type="submit" value="Restore/Undelete" style="margin: 0 auto;">
    </div>
</form>